.react-calendar-timeline .rct-sidebar .rct-sidebar-header {
  background-color: #a7a0c8;
  color: black;
}

.react-calendar-timeline .rct-header .rct-label-group {
  background-color: #a7a0c8;
  color: black;
}
